<<<<<<< HEAD
.digits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
=======
.digits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
  }