<<<<<<< HEAD
.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
=======
.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
  }