<<<<<<< HEAD
.kaufman {
    padding-top: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f1f1f;
    overflow: hidden;
=======
.kaufman {
    padding-top: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f1f1f;
    overflow: hidden;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
  }