<<<<<<< HEAD
.video__iframe {
    width: 515px;
    height: 316px;
    margin: 0;
}
.video__iframe:last-child {
    margin-left: 20px;
=======
.video__iframe {
    width: 515px;
    height: 316px;
    margin: 0;
}
.video__iframe:last-child {
    margin-left: 20px;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
}