<<<<<<< HEAD
.two-columns__paragraph {
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .two-columns__paragraph:last-of-type {
    margin-bottom: 0;
=======
.two-columns__paragraph {
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .two-columns__paragraph:last-of-type {
    margin-bottom: 0;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
  }