.section-title_theme_dark {
  width: 60%;
  margin-top: 90px;
  text-align: center;
  color: white;
  z-index: 2;
  align-self: center;
}
.section-subtitle_theme_dark {
  width: 60%;
  margin-top: 20px;
  text-align: center;
  color: white;
  z-index: 2;
  align-self: center;
}
