<<<<<<< HEAD
.oakley {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    background-color: #f2f2f2;
=======
.oakley {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    background-color: #f2f2f2;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
  }