<<<<<<< HEAD
.resources__logo-zone {
    width: 1100px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
=======
.resources__logo-zone {
    width: 1100px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
}