<<<<<<< HEAD
.two-columns {
    display: flex;
    width: 80%;
    margin: 100px 0;
    justify-content: space-between;
=======
.two-columns {
    display: flex;
    width: 80%;
    margin: 100px 0;
    justify-content: space-between;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
  }