<<<<<<< HEAD
.table__text {
    margin: 20px 0 0 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
=======
.table__text {
    margin: 20px 0 0 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
  }