<<<<<<< HEAD
.khan__buy-link {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
=======
.khan__buy-link {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
}