<<<<<<< HEAD
.khan__book-pic {
    margin: 0;
    margin-right: 48px;
    width: 620px;
    height: 608px;
    overflow: hidden;
}
=======
.khan__book-pic {
    margin: 0;
    margin-right: 48px;
    width: 620px;
    height: 608px;
    overflow: hidden;
}
>>>>>>> ccaa32954a8e3e914cb3a0ac440bb8c0ff1eed10
